<!DOCTYPE html>
<html>
  <head>
    <title>SFCadmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><%= image_tag("logo.png", size: "30") %></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <% if session[:user_id] %>
        <li class="nav-item">
          <%= link_to 'Home', users_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
            <li><%= link_to 'Admin', admin_path, :class => "nav-link" %></li>
        </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">People</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <%= link_to 'Tous', users_path, :class => "dropdown-item" %>
            <a class="dropdown-item" href="#">Première</a>
            <a class="dropdown-item" href="#">Academie</a>
            <a class="dropdown-item" href="#">Staff</a>
          </div>
        </li>
      </ul>

      <ul class="form-inline my-2 my-md-0">
        <% if session[:user_id] %>
            <li class="nav-item">
              <%= button_to 'Logout', logout_path, method: :delete, :class => "btn-outline btn", :style =>"padding-top:10px; margin-left:50px;"  %>
            </li>
            <span class="nav-link" style="color: white;">(<%= @surname = User.find(session[:user_id]).surname%> <%= @name = User.find(session[:user_id]).name %>)</span>
        <% end %>
      </ul>
    </div>
  </nav>

    <div class="container">

    <%= yield %>

    </div><!-- /.container -->

  </body>
</html>
